[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyspark = {extras = ["pandas_on_spark"], version = "*"}
pandas = "*"
pyarrow = "*"
boto3 = "*"
delta-spark = "*"
cython = "*"
requests = "*"

[dev-packages]
ipykernel = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
